In [180]:
-- Rider type by category overall

select user_type,
count(*) / (cast(sum(count(*)) over() as float)) as percentage
from bluebikes_2019
group by user_type

user_type,percentage
Customer,0.21171939202477505
Subscriber,0.7882806079752249

In [181]:
-- Rider type by category by quarter

with q as(
    select user_type,
    ntile(4) over(order by start_time) as quarter
    from bluebikes_2018
    )

select user_type, quarter,
count(*) as rides,
count(*) / (cast(sum(count(*)) over(partition by quarter) as float)) as percentage
from q
group by quarter, user_type
order by quarter, percentage desc

user_type,quarter,rides,percentage
Subscriber,1,386792,0.8751900658895083
Customer,1,55160,0.12480993411049164
Subscriber,2,339276,0.7676761277242777
Customer,2,102676,0.23232387227572224
Subscriber,3,333140,0.7537939726349754
Customer,3,108811,0.24620602736502462
Subscriber,4,377469,0.8540969473991461
Customer,4,64482,0.14590305260085393

In [182]:
-- Rider type by gender by month

select
case when user_gender = 1 then 'male' else 'female' end as gender,
To_Char(start_time, 'Month') as month,
count(*) as rides,
round(count(*) / sum(count(*)) over(partition by To_Char(start_time, 'Month')), 4) * 100 as percentage
from bluebikes_2018
group by extract(month from start_time), month, gender
order by extract(month from start_time), rides desc

gender,month,rides,percentage
male,January,30689,74.9800
female,January,10243,25.0200
male,February,45380,72.2400
female,February,17437,27.7600
male,March,44814,71.1500
female,March,18171,28.8500
male,April,65357,66.5600
female,April,32837,33.4400
male,May,113058,63.2100
female,May,65807,36.7900
male,June,127027,61.8600
female,June,78332,38.1400
male,July,146836,60.4500
female,July,96080,39.5500
male,August,144270,61.1100
female,August,91806,38.8900
male,September,146175,61.8900
female,September,90007,38.1100
male,October,134067,67.0000
female,October,66033,33.0000
male,November,85108,70.0900
female,November,36311,29.9100
male,December,58954,71.9300
female,December,23007,28.0700

In [183]:
-- Riders by age group

select 
count(1) as riders,
-- 2018 - trunc(cast(user_birth_year as numeric), 0), # this is for sanity testing
case 
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '12 years' then 'under_12'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '20 years' then 'teenager'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '30 years' then '20s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '40 years' then '30s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '50 years' then '40s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '60 years' then '50s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '70 years' then '60s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '80 years' then '70s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '90 years' then '80s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '90 years' then '80s'
    else 'older' end as age_group,
round(count(1) / sum(count(1)) over(), 4) * 100 as percentage
from bluebikes_2018
group by age_group
order by percentage desc
-- limit 500

riders,age_group,percentage
699781,20s,39.5800
465235,30s,26.3200
383585,40s,21.7000
122924,50s,6.9500
48958,60s,2.7700
30925,teenager,1.7500
9994,older,0.5700
6125,70s,0.3500
279,80s,0.0200

In [184]:
-- Riders by gender and age group

select count(1) as riders,
       case
           when user_gender = 1 then 'male'
           when user_gender = 2 then 'female'
           else 'unspecified'
       end as gender, -- 2018 - trunc(cast(user_birth_year as numeric), 0), # this is for sanity testing
case
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '12 years' then 'under_12'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '20 years' then 'teenager'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '30 years' then '20s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '40 years' then '30s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '50 years' then '40s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '60 years' then '50s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '70 years' then '60s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '80 years' then '70s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '90 years' then '80s'
    when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '90 years' then '80s'
    else 'older'
    end as age_group,
round(count(1) / sum(count(1)) over(), 4) * 100 as percentage
-- round(count(1) / sum(count(1)) over(partition by age_group), 4) * 100 as age_group_percent
from bluebikes_2018
group by age_group, gender
order by age_group, gender -- limit 500

riders,gender,age_group,percentage
198274,female,20s,11.2200
497868,male,20s,28.1600
3639,unspecified,20s,0.2100
111795,female,30s,6.3200
349456,male,30s,19.7700
3984,unspecified,30s,0.2300
35141,female,40s,1.9900
139249,male,40s,7.8800
209195,unspecified,40s,11.8300
32777,female,50s,1.8500
89445,male,50s,5.0600
702,unspecified,50s,0.0400
12369,female,60s,0.7000
36509,male,60s,2.0700
80,unspecified,60s,0.0000
817,female,70s,0.0500
5287,male,70s,0.3000
21,unspecified,70s,0.0000
3,female,80s,0.0000
276,male,80s,0.0200
34,female,older,0.0000
212,male,older,0.0100
9748,unspecified,older,0.5500
7184,female,teenager,0.4100
23433,male,teenager,1.3300
308,unspecified,teenager,0.0200

In [185]:
-- Riders by gender and age group WORKING!!

select riders,
       gender,
       age_group,
       total_percent,
       round(riders / sum(riders) over(partition by age_group), 4) * 100 as age_group_percent
from
    (select count(1) as riders,
    case
        when user_gender = 1 then 'male'
        when user_gender = 2 then 'female'
        else 'unspecified'
    end as gender, 
    -- 2018 - trunc(cast(user_birth_year as numeric), 0), # this is for sanity testing
    case
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '12 years' then 'under_12'
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '20 years' then 'teenager'
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '30 years' then '20s'
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '40 years' then '30s'
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '50 years' then '40s'
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '60 years' then '50s'
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '70 years' then '60s'
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '80 years' then '70s'
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '90 years' then '80s'
        when (trunc(cast(user_birth_year as numeric), 0) || '-01-01')::timestamp > '2018-01-01'::timestamp - interval '90 years' then '80s'
        else 'older'
    end as age_group,
    round(count(1) / sum(count(1)) over(), 4) * 100 as total_percent
    from bluebikes_2018
    group by age_group, gender
        order by age_group, gender
        ) big

group by age_group, gender, riders, total_percent
order by age_group, gender

riders,gender,age_group,total_percent,age_group_percent
198274,female,20s,11.2200,28.3300
497868,male,20s,28.1600,71.1500
3639,unspecified,20s,0.2100,0.5200
111795,female,30s,6.3200,24.0300
349456,male,30s,19.7700,75.1100
3984,unspecified,30s,0.2300,0.8600
35141,female,40s,1.9900,9.1600
139249,male,40s,7.8800,36.3000
209195,unspecified,40s,11.8300,54.5400
32777,female,50s,1.8500,26.6600
89445,male,50s,5.0600,72.7600
702,unspecified,50s,0.0400,0.5700
12369,female,60s,0.7000,25.2600
36509,male,60s,2.0700,74.5700
80,unspecified,60s,0.0000,0.1600
817,female,70s,0.0500,13.3400
5287,male,70s,0.3000,86.3200
21,unspecified,70s,0.0000,0.3400
3,female,80s,0.0000,1.0800
276,male,80s,0.0200,98.9200
34,female,older,0.0000,0.3400
212,male,older,0.0100,2.1200
9748,unspecified,older,0.5500,97.5400
7184,female,teenager,0.4100,23.2300
23433,male,teenager,1.3300,75.7700
308,unspecified,teenager,0.0200,1.0000

In [186]:
-- Percentage by gender

select
case when user_gender = 1 then 'male' 
    when user_gender = 2 then 'female'
    else 'unspecified' end as gender,
count(1),
round(count(1) / sum(count(1)) over(), 6) * 100 as percentage
from bluebikes_2018
group by user_gender

gender,count,percentage
unspecified,227677,12.879100
male,1141735,64.584900
female,398394,22.536100

In [187]:
-- Days of the week

select count(1) as riders,
To_Char(start_time, 'Day') as weekday
from bluebikes_2018
group by weekday
order by riders desc

riders,weekday
288485,Wednesday
282700,Thursday
276229,Friday
265161,Tuesday
256032,Monday
208144,Saturday
191055,Sunday

In [188]:
-- Riders by month

select count(1) as riders,
To_Char(start_time, 'Month') as month
from bluebikes_2018
-- where date_trunc('day', start_time) = date_trunc('day', timestamp '2018-10-01')
group by month
order by riders desc

riders,month
242916,July
236182,September
236076,August
205359,June
200100,October
178865,May
121419,November
98194,April
81961,December
62985,March
62817,February
40932,January

In [189]:
-- Top and Bottom 5 Stations based on riders

with top5 as
    (select number, name, district,
    count(1) as riders,
    'top5' as placement
    from bluebikes_stations
    join bluebikes_2018 on bluebikes_stations.id = bluebikes_2018.start_station_id
    group by number, name, district, placement
    order by riders desc
    limit 5),

bottom5 as
    (select number, name, district,
    count(1) as riders,
    'bottom5' as placement
    from bluebikes_stations
    join bluebikes_2018 on bluebikes_stations.id = bluebikes_2018.start_station_id
    group by number, name, district, placement
    order by riders 
    limit 5)

select * from top5
union all
select * from bottom5
order by riders desc

number,name,district,riders,placement
M32006,MIT at Mass Ave / Amherst St,Cambridge,53846,top5
M32005,MIT Stata Center at Vassar St / Main St,Cambridge,41559,top5
M32011,Central Square at Mass Ave / Essex St,Cambridge,37346,top5
A32010,South Station - 700 Atlantic Ave,Boston,36346,top5
M32041,MIT Pacific St at Purrington St,Cambridge,29379,top5
C32049,Thetford Ave at Norfolk St,Boston,15,bottom5
C32044,Blue Hill Ave at Almont St,Boston,12,bottom5
C32050,Mattapan Library,Boston,12,bottom5
C32059,Belgrade Ave at Walworth St,Boston,9,bottom5
C23045,Morton St T,Boston,5,bottom5

In [190]:
-- Sort by Duration

select 
-- date_trunc('second', end_time - start_time) as duration,
count(1) as riders,
case 
    when date_trunc('second', end_time - start_time) < time '00:05:00' then 'under5'
    when date_trunc('second', end_time - start_time) < time '00:10:00' and date_trunc('second', end_time - start_time) > '00:05:00' then '5to10'
    when date_trunc('second', end_time - start_time) < time '00:15:00' and date_trunc('second', end_time - start_time) > '00:10:00' then '10to15'
    when date_trunc('second', end_time - start_time) < time '00:20:00' and date_trunc('second', end_time - start_time) > '00:15:00' then '15to20'
    when date_trunc('second', end_time - start_time) < time '00:25:00' and date_trunc('second', end_time - start_time) > '00:20:00' then '20to25'
    when date_trunc('second', end_time - start_time) < time '00:30:00' and date_trunc('second', end_time - start_time) > '00:25:00' then '25to30'
    when date_trunc('second', end_time - start_time) < time '00:35:00' and date_trunc('second', end_time - start_time) > '00:30:00' then '30to35'
    when date_trunc('second', end_time - start_time) < time '00:40:00' and date_trunc('second', end_time - start_time) > '00:35:00' then '35to40'
    when date_trunc('second', end_time - start_time) < time '00:45:00' and date_trunc('second', end_time - start_time) > '00:40:00' then '40to45'
    when date_trunc('second', end_time - start_time) < time '00:50:00' and date_trunc('second', end_time - start_time) > '00:45:00' then '45to50'
    when date_trunc('second', end_time - start_time) < time '00:55:00' and date_trunc('second', end_time - start_time) > '00:50:00' then '50to55'
    when date_trunc('second', end_time - start_time) < time '01:00:00' and date_trunc('second', end_time - start_time) > '00:55:00' then '55to60'
    when date_trunc('second', end_time - start_time) < time '02:00:00' and date_trunc('second', end_time - start_time) > '01:00:00' then '1hrto2hr'
    when date_trunc('second', end_time - start_time) < time '03:00:00' and date_trunc('second', end_time - start_time) > '02:00:00' then '2hrto3hr'
    when date_trunc('second', end_time - start_time) < time '04:00:00' and date_trunc('second', end_time - start_time) > '03:00:00' then '3hrto4hr'
    when date_trunc('second', end_time - start_time) < time '05:00:00' and date_trunc('second', end_time - start_time) > '04:00:00' then '4hrto5hr'
    when date_trunc('second', end_time - start_time) < time '06:00:00' and date_trunc('second', end_time - start_time) > '05:00:00' then '5hrto6hr'
    when date_trunc('second', end_time - start_time) < time '12:00:00' and date_trunc('second', end_time - start_time) > '06:00:00' then '6hrto12hr'
    when date_trunc('second', end_time - start_time) < time '24:00:00' and date_trunc('second', end_time - start_time) > '12:00:00' then '12hrto24hr'
else 'longer' end as duration

from bluebikes_2018
group by duration
order by riders desc

riders,duration
524937,5to10
356463,10to15
227597,15to20
225330,under5
142316,20to25
88795,25to30
49982,30to35
45577,1hrto2hr
30641,35to40
20901,40to45
14023,45to50
11100,50to55
9043,55to60
7685,2hrto3hr
7327,longer
2304,3hrto4hr
1244,6hrto12hr
1115,12hrto24hr
945,4hrto5hr
481,5hrto6hr

In [193]:
-- Top 3 Positive and Negative Bike Check-in difference per month

with outbikes as (
    select
    stations.name,
    To_Char(start_time, 'Month') as month,
    count(start_station_id) as outgoing
    from bluebikes_2018 bikes
    join bluebikes_stations stations on stations.id = bikes.start_station_id
    group by month, stations.name
    order by month, outgoing desc
),

inbikes as(
    select
    stations.name,
    To_Char(start_time, 'Month') as month,
    count(end_station_id) as incoming
    from bluebikes_2018 bikes
    join bluebikes_stations stations on stations.id = bikes.end_station_id
    group by month, stations.name
    order by month, incoming desc
),

positivebikeflow as (
    select 
    row_number() over(partition by outbikes.month order by outbikes.month, sum(inbikes.incoming) - sum(outbikes.outgoing) desc) as rank,
    outbikes.month as month, 
    outbikes.name as name, 
    sum(outbikes.outgoing) as outgoing,
    sum(inbikes.incoming) as incoming,
    sum(inbikes.incoming) - sum(outbikes.outgoing) as difference
    from outbikes
    join inbikes on outbikes.name = inbikes.name
    group by outbikes.month, outbikes.name
    order by outbikes.month, difference desc
),

negativebikeflow as (
    select 
    row_number() over(partition by outbikes.month order by outbikes.month, sum(inbikes.incoming) - sum(outbikes.outgoing)) as rank,
    outbikes.month as month,
    outbikes.name as name,
    sum(outbikes.outgoing) as outgoing,
    sum(inbikes.incoming) as incoming,
    sum(inbikes.incoming) - sum(outbikes.outgoing) as difference
    from outbikes
    join inbikes on outbikes.name = inbikes.name
    group by outbikes.month, outbikes.name
    order by outbikes.month, difference
)

select rank, month, name, outgoing, incoming, difference from positivebikeflow
where rank in (1,2,3)
union all
select rank, month, name, outgoing, incoming, difference from negativebikeflow
where rank in (1,2,3)
order by month, difference desc

rank,month,name,outgoing,incoming,difference
1,April,Nashua Street at Red Auerbach Way,16884,37861,20977
2,April,MIT Stata Center at Vassar St / Main St,28212,46369,18157
3,April,Boylston St at Fairfield St,1528,16093,14565
3,April,Roxbury YMCA - Warren St at MLK Blvd,780,759,-21
2,April,NCAAA - Walnut Ave at Crawford St,576,500,-76
1,April,359 Broadway - Broadway at Fayette Street,10548,9568,-980
1,August,St Mary's,2150,2732,582
2,August,Washington St at Melnea Cass Blvd,1656,1953,297
3,August,Community Path at Cedar Street,1734,1948,214
3,August,Central Square at Mass Ave / Essex St,59136,37270,-21866
2,August,MIT at Mass Ave / Amherst St,73620,49635,-23985
1,August,South Station - 700 Atlantic Ave,61380,33895,-27485
1,December,Nashua Street at Red Auerbach Way,16248,37861,21613
2,December,MIT Stata Center at Vassar St / Main St,27252,46369,19117
3,December,MIT at Mass Ave / Amherst St,32364,49635,17271
3,December,Ames St at Broadway,1263,874,-389
2,December,Boylston St at Jersey St,2391,1807,-584
1,December,Ring Rd,1743,964,-779
1,February,MIT Stata Center at Vassar St / Main St,21048,46369,25321
2,February,Nashua Street at Red Auerbach Way,14196,37861,23665
3,February,MIT at Mass Ave / Amherst St,26832,49635,22803
3,February,NCAAA - Walnut Ave at Crawford St,348,500,152
2,February,Congress St at Boston City Hall,1100,1040,-60
1,February,Uphams Corner,1177,1063,-114
1,January,MIT Stata Center at Vassar St / Main St,13968,46369,32401
2,January,MIT at Mass Ave / Amherst St,18984,49635,30651
3,January,Nashua Street at Red Auerbach Way,10104,37861,27757
3,January,Congress St at Boston City Hall,716,1040,324
2,January,Roxbury YMCA - Warren St at MLK Blvd,456,759,303
1,January,Grove Hall Library - 41 Geneva Ave,180,336,156
1,July,Silber Way,3216,7523,4307
2,July,Brookline Village - Station Street at MBTA,294,1563,1269
3,July,Assembly Square T,24,1065,1041
3,July,Central Square at Mass Ave / Essex St,59664,37270,-22394
2,July,MIT at Mass Ave / Amherst St,73860,49635,-24225
1,July,South Station - 700 Atlantic Ave,60792,33895,-26897
1,June,Northeastern University - North Parking Lot,8811,9281,470
2,June,Uphams Corner T Stop - Magnolia St at Dudley St,192,404,212
3,June,Kendall Street,9096,9280,184
3,June,MIT at Mass Ave / Amherst St,61488,49635,-11853
2,June,Boston City Hall - 28 State St,34212,21585,-12627
1,June,South Station - 700 Atlantic Ave,52860,33895,-18965
1,March,Nashua Street at Red Auerbach Way,12660,37861,25201
2,March,MIT Stata Center at Vassar St / Main St,22368,46369,24001
3,March,MIT at Mass Ave / Amherst St,27552,49635,22083
3,March,Grove Hall Library - 41 Geneva Ave,192,336,144
2,March,Uphams Corner,968,1063,95
1,March,Congress St at Boston City Hall,1344,1040,-304
1,May,Boylston St at Massachusetts Ave,12856,15633,2777
2,May,Nashua Street at Red Auerbach Way,35124,37861,2737
3,May,MIT Stata Center at Vassar St / Main St,43644,46369,2725
3,May,Charles Circle - Charles St at Cambridge St,28094,19899,-8195
2,May,South Station - 700 Atlantic Ave,49476,33895,-15581
1,May,MIT at Mass Ave / Amherst St,68364,49635,-18729
1,November,Copley Square - Dartmouth St at Boylston St,12012,28325,16313
2,November,Nashua Street at Red Auerbach Way,22812,37861,15049
3,November,Cross St at Hanover St,2310,17095,14785
3,November,MIT at Mass Ave / Amherst St,50952,49635,-1317
2,November,MIT Pacific St at Purrington St,29472,27490,-1982
1,November,Commonwealth Ave at Agganis Way,13824,11186,-2638
1,October,Cross St at Hanover St,8745,17095,8350
2,October,Landmark Center - Brookline Ave at Park Dr,2672,8130,5458
3,October,Murphy Skating Rink - 1880 Day Blvd,2808,5640,2832
3,October,MIT Pacific St at Purrington St,39744,27490,-12254
2,October,MIT Stata Center at Vassar St / Main St,61740,46369,-15371
1,October,MIT at Mass Ave / Amherst St,75852,49635,-26217
1,September,Post Office Square,7288,8687,1399
2,September,Main St at Baldwin St,400,657,257
3,September,Burlington Ave at Brookline Ave,3976,4143,167
3,September,MIT Pacific St at Purrington St,46824,27490,-19334
2,September,Central Square at Mass Ave / Essex St,58128,37270,-20858
1,September,MIT at Mass Ave / Amherst St,89640,49635,-40005

In [165]:
select extract(month from to_date('January', 'Month'))

date_part
1.0